glowfox-first-class/workflows/ai-testing-tool-test-sub-account.json
{
  "name": "Glowfox First Class Test",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "glowfox-first-class-test",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "035e8795-3fd5-4616-977a-87a806172f89",
      "name": "Glowfox Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1328, 208],
      "webhookId": "glowfox-first-class-test",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "10JeveuIeXNGsGyDQD5dvFLKzOoOzIN8ffRwszGuu2XA",
          "mode": "id",
          "cachedResultName": "Glowfox to GHL - Studio Config"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Branch ID",
              "lookupValue": "={{ $('Glowfox Webhook').item.json.body.metadata.location_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "46b9da83-4d19-46be-8286-c01edf63eea9",
      "name": "Lookup Studio Config",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-1104, 208]
    },
    {
      "parameters": {
        "url": "=https://gf-api.aws.glofox.com/prod/2.0/members/{{ $('Glowfox Webhook').item.json.body.payload.user_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-api-key", "value": "={{ $('Lookup Studio Config').item.json['API Key'] }}" },
            { "name": "x-glofox-api-token", "value": "={{ $('Lookup Studio Config').item.json['API Token'] }}" },
            { "name": "x-glofox-branch-id", "value": "={{ $('Lookup Studio Config').item.json['Branch ID'] }}" }
          ]
        },
        "options": {}
      },
      "id": "f8294f3e-e35c-417e-84ea-c1688c1d9725",
      "name": "Get Member Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-880, 208]
    },
    {
      "parameters": {
        "url": "=https://gf-api.aws.glofox.com/prod/2.0/bookings?user_id={{ $('Glowfox Webhook').item.json.body.payload.user_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-api-key", "value": "={{ $('Lookup Studio Config').item.json['API Key'] }}" },
            { "name": "x-glofox-api-token", "value": "={{ $('Lookup Studio Config').item.json['API Token'] }}" },
            { "name": "x-glofox-branch-id", "value": "={{ $('Lookup Studio Config').item.json['Branch ID'] }}" }
          ]
        },
        "options": {}
      },
      "id": "7b98df1e-5c90-4c2c-997e-c64606b9fce0",
      "name": "Get Booking Count",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-656, 208]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "first-booking",
              "leftValue": "={{ $json.total_count }}",
              "rightValue": 1,
              "operator": { "type": "number", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "645bc6e9-b97f-4619-8e6f-625a66f72e42",
      "name": "Is First Booking?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-448, 208]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
                "conditions": [
                  {
                    "id": "booked-rule",
                    "operator": { "type": "string", "operation": "equals" },
                    "leftValue": "={{ $('Glowfox Webhook').item.json.body.payload.status }}",
                    "rightValue": "BOOKED"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BOOKED"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
                "conditions": [
                  {
                    "id": "canceled-rule",
                    "operator": { "type": "string", "operation": "equals" },
                    "leftValue": "={{ $('Glowfox Webhook').item.json.body.payload.status }}",
                    "rightValue": "CANCELED"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CANCELED"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
                "conditions": [
                  {
                    "id": "attended-rule",
                    "operator": { "type": "string", "operation": "equals" },
                    "leftValue": "={{ $('Glowfox Webhook').item.json.body.payload.status }}",
                    "rightValue": "ATTENDED"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ATTENDED"
            }
          ]
        },
        "options": {}
      },
      "id": "c21cd45e-e3e5-4cd7-8e03-e89ec207c07c",
      "name": "Branch by Status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [-224, 128]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/upsert",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Version", "value": "2021-07-28" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"locationId\": \"JHgfCMprry4fxGOzRsYl\",\n  \"email\": \"{{ $('Get Member Email').item.json.email }}\",\n  \"firstName\": \"{{ $('Get Member Email').item.json.first_name }}\",\n  \"lastName\": \"{{ $('Get Member Email').item.json.last_name }}\",\n  \"phone\": \"{{ $('Get Member Email').item.json.metadata && $('Get Member Email').item.json.metadata.twilio ? $('Get Member Email').item.json.metadata.twilio.phone_number : $('Get Member Email').item.json.phone }}\",\n  \"tags\": [\"first-class-booked\"]\n}",
        "options": {}
      },
      "id": "0f50e9bc-ebc3-4267-b17c-c6df946a4f10",
      "name": "GHL: Tag first-class-booked",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [0, 0]
    }
  ],
  "connections": {
    "Glowfox Webhook": {
      "main": [[{ "node": "Lookup Studio Config", "type": "main", "index": 0 }]]
    },
    "Lookup Studio Config": {
      "main": [[{ "node": "Get Member Email", "type": "main", "index": 0 }]]
    },
    "Get Member Email": {
      "main": [[{ "node": "Get Booking Count", "type": "main", "index": 0 }]]
    },
    "Get Booking Count": {
      "main": [[{ "node": "Is First Booking?", "type": "main", "index": 0 }]]
    },
    "Is First Booking?": {
      "main": [
        [{ "node": "Branch by Status", "type": "main", "index": 0 }],
        []
      ]
    },
    "Branch by Status": {
      "main": [
        [{ "node": "GHL: Tag first-class-booked", "type": "main", "index": 0 }],
        [],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "active": false
}
