glofox-first-class/workflows/glofox-first-class.json
{
  "name": "Glofox First Class Booked/Cancelled/Attended",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "glofox-first-class-test",
        "options": {}
      },
      "id": "035e8795-3fd5-4616-977a-87a806172f89",
      "name": "Glofox Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1136,
        208
      ],
      "webhookId": "glofox-first-class-test",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://gf-api.aws.glofox.com/prod/2.0/members/{{ $('Glofox Webhook').item.json.body.Payload.user_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $('Lookup Studio (cache)').item.json.api_key }}"
            },
            {
              "name": "x-glofox-api-token",
              "value": "={{ $('Lookup Studio (cache)').item.json.api_token }}"
            },
            {
              "name": "x-glofox-branch-id",
              "value": "={{ $('Lookup Studio (cache)').item.json.branch_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f8294f3e-e35c-417e-84ea-c1688c1d9725",
      "name": "Get Member Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -464,
        208
      ]
    },
    {
      "parameters": {
        "url": "=https://gf-api.aws.glofox.com/prod/2.0/bookings?user_id={{ $('Glofox Webhook').item.json.body.Payload.user_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $('Lookup Studio (cache)').item.json.api_key }}"
            },
            {
              "name": "x-glofox-api-token",
              "value": "={{ $('Lookup Studio (cache)').item.json.api_token }}"
            },
            {
              "name": "x-glofox-branch-id",
              "value": "={{ $('Lookup Studio (cache)').item.json.branch_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7b98df1e-5c90-4c2c-997e-c64606b9fce0",
      "name": "Get Booking Count",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -240,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "first-class-check",
              "leftValue": "={{ $('Glofox Webhook').item.json.body.Type === 'BOOKING_CREATED' ? $('Get Booking Count').item.json.data.filter(b => b.status !== 'CANCELED').length === 1 : $('Glofox Webhook').item.json.body.Type === 'BOOKING_DELETED' ? $('Get Booking Count').item.json.data.filter(b => b.status !== 'CANCELED').length === 0 && $('Get Booking Count').item.json.data.length === 1 : ($('Glofox Webhook').item.json.body.Type === 'BOOKING_UPDATED' && $('Glofox Webhook').item.json.body.Payload.attended === true) ? $('Get Booking Count').item.json.data.filter(b => b.attended === true).length === 1 : ($('Glofox Webhook').item.json.body.Type === 'BOOKING_UPDATED' && $('Glofox Webhook').item.json.body.Payload.attended === false) ? $('Get Booking Count').item.json.data.filter(b => b.status !== 'CANCELED').length === 1 : false }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "645bc6e9-b97f-4619-8e6f-625a66f72e42",
      "name": "Is First Class Event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -32,
        208
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "booked-rule",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Glofox Webhook').item.json.body.Type }}",
                    "rightValue": "BOOKING_CREATED"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BOOKED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "canceled-rule",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Glofox Webhook').item.json.body.Type }}",
                    "rightValue": "BOOKING_DELETED"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CANCELED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "attended-rule-type",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Glofox Webhook').item.json.body.Type }}",
                    "rightValue": "BOOKING_UPDATED"
                  },
                  {
                    "id": "attended-rule-flag",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{ $('Glofox Webhook').item.json.body.Payload.attended }}"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ATTENDED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "noshow-rule-type",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Glofox Webhook').item.json.body.Type }}",
                    "rightValue": "BOOKING_UPDATED"
                  },
                  {
                    "id": "noshow-rule-flag",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    },
                    "leftValue": "={{ $('Glofox Webhook').item.json.body.Payload.attended }}"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NO_SHOW"
            }
          ]
        },
        "options": {}
      },
      "id": "c21cd45e-e3e5-4cd7-8e03-e89ec207c07c",
      "name": "Branch by Status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        192,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/upsert",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"locationId\": \"JHgfCMprry4fxGOzRsYl\",\n  \"email\": \"{{ $('Get Member Email').item.json.email }}\",\n  \"firstName\": \"{{ $('Get Member Email').item.json.first_name }}\",\n  \"lastName\": \"{{ $('Get Member Email').item.json.last_name }}\",\n  \"phone\": \"{{ $('Get Member Email').item.json.metadata && $('Get Member Email').item.json.metadata.twilio ? $('Get Member Email').item.json.metadata.twilio.phone_number : $('Get Member Email').item.json.phone }}\",\n  \"tags\": [\"first-class-booked\"]\n}",
        "options": {}
      },
      "id": "0f50e9bc-ebc3-4267-b17c-c6df946a4f10",
      "name": "GHL: Tag first-class-booked",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        -80
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "MrMlsn2HCSVdVi0O",
          "name": "HighLevel PIT - Test Sub Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/upsert",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"locationId\": \"JHgfCMprry4fxGOzRsYl\",\n  \"email\": \"{{ $('Get Member Email').item.json.email }}\",\n  \"firstName\": \"{{ $('Get Member Email').item.json.first_name }}\",\n  \"lastName\": \"{{ $('Get Member Email').item.json.last_name }}\",\n  \"phone\": \"{{ $('Get Member Email').item.json.metadata && $('Get Member Email').item.json.metadata.twilio ? $('Get Member Email').item.json.metadata.twilio.phone_number : $('Get Member Email').item.json.phone }}\",\n  \"tags\": [\"first-class-cancelled\"]\n}",
        "options": {}
      },
      "id": "node-ghl-cancelled-upsert",
      "name": "GHL: Tag first-class-cancelled",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "MrMlsn2HCSVdVi0O",
          "name": "HighLevel PIT - Test Sub Account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.contact.id }}/tags",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tags\": [\"first-class-booked\"]\n}",
        "options": {}
      },
      "id": "node-ghl-remove-booked-tag",
      "name": "GHL: Remove first-class-booked tag",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "MrMlsn2HCSVdVi0O",
          "name": "HighLevel PIT - Test Sub Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/upsert",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"locationId\": \"JHgfCMprry4fxGOzRsYl\",\n  \"email\": \"{{ $('Get Member Email').item.json.email }}\",\n  \"firstName\": \"{{ $('Get Member Email').item.json.first_name }}\",\n  \"lastName\": \"{{ $('Get Member Email').item.json.last_name }}\",\n  \"phone\": \"{{ $('Get Member Email').item.json.metadata && $('Get Member Email').item.json.metadata.twilio ? $('Get Member Email').item.json.metadata.twilio.phone_number : $('Get Member Email').item.json.phone }}\",\n  \"tags\": [\"first-class-attended\"]\n}",
        "options": {}
      },
      "id": "node-ghl-attended-upsert",
      "name": "GHL: Tag first-class-attended",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        368
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "MrMlsn2HCSVdVi0O",
          "name": "HighLevel PIT - Test Sub Account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.contact.id }}/tags",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tags\": [\"first-class-booked\"]\n}",
        "options": {}
      },
      "id": "node-ghl-remove-booked-from-attended",
      "name": "GHL: Remove first-class-booked tag (attended)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        384
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "MrMlsn2HCSVdVi0O",
          "name": "HighLevel PIT - Test Sub Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/upsert",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"locationId\": \"JHgfCMprry4fxGOzRsYl\",\n  \"email\": \"{{ $('Get Member Email').item.json.email }}\",\n  \"firstName\": \"{{ $('Get Member Email').item.json.first_name }}\",\n  \"lastName\": \"{{ $('Get Member Email').item.json.last_name }}\",\n  \"phone\": \"{{ $('Get Member Email').item.json.metadata && $('Get Member Email').item.json.metadata.twilio ? $('Get Member Email').item.json.metadata.twilio.phone_number : $('Get Member Email').item.json.phone }}\",\n  \"tags\": [\"first-class-no-show\"]\n}",
        "options": {}
      },
      "id": "node-ghl-noshow-upsert",
      "name": "GHL: Tag first-class-no-show",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        400,
        592
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "MrMlsn2HCSVdVi0O",
          "name": "HighLevel PIT - Test Sub Account"
        }
      },
      "notes": "PLACEHOLDER tag 'first-class-no-show' + hardcoded test location. Fires on BOOKING_UPDATED + attended:false for a first class. Confirm tag + move location to sheet before go-live."
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.contact.id }}/tags",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tags\": [\"first-class-booked\"]\n}",
        "options": {}
      },
      "id": "node-ghl-remove-booked-noshow",
      "name": "GHL: Remove first-class-booked tag (no-show)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        592
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "MrMlsn2HCSVdVi0O",
          "name": "HighLevel PIT - Test Sub Account"
        }
      },
      "notes": "Mirrors the attended branch: removes first-class-booked after tagging no-show."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "studio-found",
              "leftValue": "={{ $('Lookup Studio (cache)').item.json.branch_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "user-present",
              "leftValue": "={{ $('Glofox Webhook').item.json.body.Payload.user_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fc-guard-if",
      "name": "Studio In Sheet?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -672,
        224
      ],
      "notes": "Guard: only continue if the branch was found in the sheet AND a user_id is present. Otherwise -> Stop and Error (loud alert) instead of silently halting."
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "location_id",
              "value": "={{ $json.body.Metadata.location_id }}"
            }
          ]
        }
      },
      "id": "23d13efb-9f9b-4716-87db-b666e1de71f6",
      "name": "Save Branch ID (filter)",
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        -992,
        208
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "Ba4cRH8IzwZG9WqJ",
          "cachedResultName": "studio_config"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "branch_id",
              "condition": "eq",
              "keyValue": "={{ $('Glofox Webhook').item.json.body.Metadata.location_id }}"
            }
          ]
        },
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "id": "dccc752c-83a6-4f0e-960f-6774ec9f175f",
      "name": "Lookup Studio (cache)",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -848,
        208
      ],
      "notes": "Cache lookup: studio row from the studio_config Data Table by branch_id (=location_id). Replaces the per-event Google Sheets read (see #19). No match -> 0 items -> halts silently."
    }
  ],
  "connections": {
    "Glofox Webhook": {
      "main": [
        [
          {
            "node": "Save Branch ID (filter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Member Email": {
      "main": [
        [
          {
            "node": "Get Booking Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Booking Count": {
      "main": [
        [
          {
            "node": "Is First Class Event?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is First Class Event?": {
      "main": [
        [
          {
            "node": "Branch by Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Branch by Status": {
      "main": [
        [
          {
            "node": "GHL: Tag first-class-booked",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GHL: Tag first-class-cancelled",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GHL: Tag first-class-attended",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GHL: Tag first-class-no-show",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL: Tag first-class-cancelled": {
      "main": [
        [
          {
            "node": "GHL: Remove first-class-booked tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL: Tag first-class-attended": {
      "main": [
        [
          {
            "node": "GHL: Remove first-class-booked tag (attended)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL: Tag first-class-no-show": {
      "main": [
        [
          {
            "node": "GHL: Remove first-class-booked tag (no-show)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Studio In Sheet?": {
      "main": [
        [
          {
            "node": "Get Member Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Branch ID (filter)": {
      "main": [
        [
          {
            "node": "Lookup Studio (cache)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Studio (cache)": {
      "main": [
        [
          {
            "node": "Studio In Sheet?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "errorWorkflow": "AKbzN48d9DQwMioQ"
  },
  "active": false
}
