glofox-attended-count/workflows/glofox-attended-count.json
{
  "name": "Glofox → GHL Total Classes Attended",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "glofox-attended-count",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000001",
      "name": "Glofox Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1104,
        304
      ],
      "webhookId": "194460e9-93f0-49a8-8ca4-057f07f5c1ab",
      "notes": "DUMMY: own endpoint for this workflow. Real go-live needs Glofox to register this URL."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "attended-only",
              "leftValue": "={{ $json.body.Type === 'BOOKING_UPDATED' && $json.body.Payload.attended === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000002",
      "name": "Only Attended Events",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -864,
        304
      ],
      "notes": "Stops the run unless this is a genuine attendance event."
    },
    {
      "parameters": {
        "jsCode": "// Map the cached studio row (from the 'Lookup Studio (cache)' Data Table node)\n// to the stable camelCase names the downstream nodes already use.\n// The Data Table already matched on branch_id, so this just renames fields.\nconst r = $input.first().json;\nreturn [{ json: {\n  branchId: String(r.branch_id ?? ''),\n  studioName: String(r.studio_name ?? ''),\n  apiKey: String(r.api_key ?? ''),\n  apiToken: String(r.api_token ?? ''),\n  ghlLocation: String(r.ghl_location ?? ''),\n  ghlPit: String(r.ghl_pit ?? ''),\n  matched: true\n}, pairedItem: { item: 0 } }];"
      },
      "id": "a1000000-0000-0000-0000-000000000007",
      "name": "Resolve Studio (by position)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        304
      ],
      "notes": "Maps the cached studio row (from 'Lookup Studio (cache)') to the stable camelCase names the downstream nodes use. Replaces the old sheet-by-position scan."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "branch-found",
              "leftValue": "={{ $json.branchId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000008",
      "name": "Studio In Sheet?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -144,
        304
      ],
      "notes": "Guard: continue only if a studio row matched. Else -> Stop & Error -> shared Error Handler."
    },
    {
      "parameters": {
        "url": "=https://gf-api.aws.glofox.com/prod/2.0/members/{{ $('Glofox Webhook').first().json.body.Payload.user_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $('Resolve Studio (by position)').first().json.apiKey }}"
            },
            {
              "name": "x-glofox-api-token",
              "value": "={{ $('Resolve Studio (by position)').first().json.apiToken }}"
            },
            {
              "name": "x-glofox-branch-id",
              "value": "={{ $('Resolve Studio (by position)').first().json.branchId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000005",
      "name": "Get Member",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        96,
        304
      ],
      "notes": "Looks up the member by user_id to get email. Glofox creds now pulled dynamically from the studio sheet (by position) — was hardcoded."
    },
    {
      "parameters": {
        "url": "=https://gf-api.aws.glofox.com/prod/2.0/bookings?user_id={{ $('Glofox Webhook').first().json.body.Payload.user_id }}&attended=true&status=BOOKED",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $('Resolve Studio (by position)').first().json.apiKey }}"
            },
            {
              "name": "x-glofox-api-token",
              "value": "={{ $('Resolve Studio (by position)').first().json.apiToken }}"
            },
            {
              "name": "x-glofox-branch-id",
              "value": "={{ $('Resolve Studio (by position)').first().json.branchId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000003",
      "name": "Glofox: Get Bookings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        336,
        304
      ],
      "notes": "Counts attended, non-cancelled classes: ?attended=true&status=BOOKED -> read total_count. Glofox creds now pulled dynamically from the studio sheet (by position)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/upsert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Resolve Studio (by position)').first().json.ghlPit }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"locationId\": \"{{ $('Resolve Studio (by position)').first().json.ghlLocation }}\",\n  \"email\": \"{{ $('Get Member').item.json.email }}\",\n  \"customFields\": [\n    {\n      \"key\": \"glofox_class_attendance\",\n      \"field_value\": {{ $('Glofox: Get Bookings').item.json.total_count }}\n    }\n  ]\n}",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000004",
      "name": "GHL: Update Total Attended Count",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        576,
        304
      ],
      "notes": "Writes attended total_count to GHL custom field 'glofox_class_attendance'. GHL locationId + PIT now pulled dynamically from the studio sheet (by position: GHL Location=col 4, GHL PIT=col 5) — was hardcoded."
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "location_id",
              "value": "={{ $json.body.Metadata.location_id }}"
            }
          ]
        }
      },
      "id": "89a8c368-8343-432e-8a0a-7cfeed6f0c4e",
      "name": "Save Branch ID (filter)",
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        -992,
        304
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "Ba4cRH8IzwZG9WqJ",
          "cachedResultName": "studio_config"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "branch_id",
              "condition": "eq",
              "keyValue": "={{ $('Glofox Webhook').first().json.body.Metadata.location_id }}"
            }
          ]
        },
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "id": "01f94c94-95bb-40df-b2d7-445b6dc46f68",
      "name": "Lookup Studio (cache)",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -624,
        304
      ],
      "notes": "Cache lookup: fetch the studio row from the studio_config Data Table by branch_id (=location_id). Replaces the per-event Google Sheets read (see #19). No match -> 0 items -> workflow halts silently."
    }
  ],
  "connections": {
    "Glofox Webhook": {
      "main": [
        [
          {
            "node": "Save Branch ID (filter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only Attended Events": {
      "main": [
        [
          {
            "node": "Lookup Studio (cache)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Studio (by position)": {
      "main": [
        [
          {
            "node": "Studio In Sheet?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Studio In Sheet?": {
      "main": [
        [
          {
            "node": "Get Member",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Member": {
      "main": [
        [
          {
            "node": "Glofox: Get Bookings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Glofox: Get Bookings": {
      "main": [
        [
          {
            "node": "GHL: Update Total Attended Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Branch ID (filter)": {
      "main": [
        [
          {
            "node": "Only Attended Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Studio (cache)": {
      "main": [
        [
          {
            "node": "Resolve Studio (by position)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "AKbzN48d9DQwMioQ"
  },
  "active": false
}
