glofox-attended-count/workflows/glofox-attended-count.json
{
  "name": "Glofox → GHL Total Classes Attended",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "glofox-attended-count",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000001",
      "name": "Glofox Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1104,
        304
      ],
      "webhookId": "194460e9-93f0-49a8-8ca4-057f07f5c1ab",
      "notes": "DUMMY: own endpoint for this workflow. Real go-live needs Glofox to register this URL."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "attended-only",
              "leftValue": "={{ $json.body.Type === 'BOOKING_UPDATED' && $json.body.Payload.attended === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000002",
      "name": "Only Attended Events",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -864,
        304
      ],
      "notes": "Stops the run unless this is a genuine attendance event."
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "10JeveuIeXNGsGyDQD5dvFLKzOoOzIN8ffRwszGuu2XA",
          "mode": "id",
          "cachedResultName": "Glofox to GHL - Studio Config"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000006",
      "name": "Lookup Studio Config",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -624,
        304
      ],
      "credentials": {
        "googleApi": {
          "id": "PvDoggN1HExofTc3",
          "name": "Google Service Account account"
        }
      },
      "alwaysOutputData": true,
      "notes": "Reads ALL rows of the studio config sheet (no name-based filter); matching is done by the next node by column POSITION — future-proof against header renames."
    },
    {
      "parameters": {
        "jsCode": "// Future-proof studio lookup: match + read columns BY POSITION (header-name-independent).\n// n8n's Google Sheets node prepends a 'row_number' field — drop it so positions line up with the sheet columns.\n// Column order: 0 Studio | 1 Branch ID | 2 API Key | 3 API Token | 4 GHL Location | 5 GHL PIT\nconst loc = String($('Glofox Webhook').first().json.body?.Metadata?.location_id ?? '');\nfor (const row of $input.all()) {\n  const o = { ...row.json };\n  delete o.row_number;\n  const v = Object.values(o);\n  if (loc !== '' && String(v[1] ?? '') === loc) {\n    return [{ json: { studioName: v[0] ?? '', branchId: v[1] ?? '', apiKey: v[2] ?? '', apiToken: v[3] ?? '', ghlLocation: v[4] ?? '', ghlPit: v[5] ?? '', matched: true }, pairedItem: { item: 0 } }];\n  }\n}\nreturn [{ json: { branchId: '', apiKey: '', apiToken: '', ghlLocation: '', ghlPit: '', matched: false, locationId: loc }, pairedItem: { item: 0 } }];"
      },
      "id": "a1000000-0000-0000-0000-000000000007",
      "name": "Resolve Studio (by position)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        304
      ],
      "notes": "Matches the webhook branch (metadata.location_id) against the sheet Branch ID column BY POSITION and exposes branchId/apiKey/apiToken/ghlLocation/ghlPit under stable names. Drops n8n's row_number first. Header renames don't break it. Empty branchId if no match -> guard stops it."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "branch-found",
              "leftValue": "={{ $json.branchId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000008",
      "name": "Studio In Sheet?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -144,
        304
      ],
      "notes": "Guard: continue only if a studio row matched. Else -> Stop & Error -> shared Error Handler."
    },
    {
      "parameters": {
        "errorType": "errorMessage",
        "errorMessage": "=Unknown studio or bad input — no row in the studio config sheet matches Branch ID '{{ $('Resolve Studio (by position)').item.json.locationId }}'."
      },
      "id": "a1000000-0000-0000-0000-000000000009",
      "name": "Unknown Studio / Bad Input",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -144,
        480
      ]
    },
    {
      "parameters": {
        "url": "=https://gf-api.aws.glofox.com/prod/2.0/members/{{ $('Glofox Webhook').first().json.body.Payload.user_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $('Resolve Studio (by position)').first().json.apiKey }}"
            },
            {
              "name": "x-glofox-api-token",
              "value": "={{ $('Resolve Studio (by position)').first().json.apiToken }}"
            },
            {
              "name": "x-glofox-branch-id",
              "value": "={{ $('Resolve Studio (by position)').first().json.branchId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000005",
      "name": "Get Member",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        96,
        304
      ],
      "notes": "Member lookup for email. Glofox creds pulled dynamically from the studio sheet (by position) — was hardcoded."
    },
    {
      "parameters": {
        "url": "=https://gf-api.aws.glofox.com/prod/2.0/bookings?user_id={{ $('Glofox Webhook').first().json.body.Payload.user_id }}&attended=true&status=BOOKED",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $('Resolve Studio (by position)').first().json.apiKey }}"
            },
            {
              "name": "x-glofox-api-token",
              "value": "={{ $('Resolve Studio (by position)').first().json.apiToken }}"
            },
            {
              "name": "x-glofox-branch-id",
              "value": "={{ $('Resolve Studio (by position)').first().json.branchId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000003",
      "name": "Glofox: Get Bookings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        336,
        304
      ],
      "notes": "Counts attended, non-cancelled classes -> total_count. Glofox creds pulled dynamically from the studio sheet (by position)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/upsert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Resolve Studio (by position)').first().json.ghlPit }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"locationId\": \"{{ $('Resolve Studio (by position)').first().json.ghlLocation }}\",\n  \"email\": \"{{ $('Get Member').item.json.email }}\",\n  \"customFields\": [\n    {\n      \"key\": \"glofox_class_attendance\",\n      \"field_value\": {{ $('Glofox: Get Bookings').item.json.total_count }}\n    }\n  ]\n}",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000004",
      "name": "GHL: Update Total Attended Count",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        576,
        304
      ],
      "notes": "Writes total_count to GHL custom field 'glofox_class_attendance'. GHL locationId + PIT pulled from the studio sheet by position (col 4 / col 5). NOTE: needs the branch's sheet row to hold GHL Location/PIT in those columns; a duplicate row without them will 401 (see #13)."
    },
    {
      "id": "save-branch-filter",
      "name": "Save Branch ID (filter)",
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        -984,
        304
      ],
      "parameters": {
        "operation": "save",
        "dataToSave": {
          "values": [
            {
              "key": "location_id",
              "value": "={{ $json.body.Metadata.location_id }}"
            }
          ]
        }
      },
      "notes": "Saves the studio Branch ID as highlighted execution data so runs are filterable per-studio in the Executions list."
    }
  ],
  "connections": {
    "Glofox Webhook": {
      "main": [
        [
          {
            "node": "Save Branch ID (filter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only Attended Events": {
      "main": [
        [
          {
            "node": "Lookup Studio Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Studio Config": {
      "main": [
        [
          {
            "node": "Resolve Studio (by position)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Studio (by position)": {
      "main": [
        [
          {
            "node": "Studio In Sheet?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Studio In Sheet?": {
      "main": [
        [
          {
            "node": "Get Member",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown Studio / Bad Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Member": {
      "main": [
        [
          {
            "node": "Glofox: Get Bookings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Glofox: Get Bookings": {
      "main": [
        [
          {
            "node": "GHL: Update Total Attended Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Branch ID (filter)": {
      "main": [
        [
          {
            "node": "Only Attended Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "AKbzN48d9DQwMioQ"
  },
  "active": false
}
