glofox-attended-count/workflows/glofox-attended-count.json
{
  "name": "Glofox → GHL Total Classes Attended",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "glofox-attended-count",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000001",
      "name": "Glofox Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1104,
        304
      ],
      "webhookId": "194460e9-93f0-49a8-8ca4-057f07f5c1ab",
      "notes": "DUMMY: own endpoint for this workflow. Real go-live needs Glofox to register this URL."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "attended-only",
              "leftValue": "={{ $json.body.type === 'BOOKING_UPDATED' && $json.body.payload.attended === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000002",
      "name": "Only Attended Events",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -864,
        304
      ],
      "notes": "Stops the run unless this is a genuine attendance event."
    },
    {
      "parameters": {
        "url": "=https://gf-api.aws.glofox.com/prod/2.0/bookings?user_id={{ $('Glofox Webhook').item.json.body.payload.user_id }}&attended=true&status=BOOKED",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "REPLACE_FROM_STUDIO_SHEET"
            },
            {
              "name": "x-glofox-api-token",
              "value": "REPLACE_FROM_STUDIO_SHEET"
            },
            {
              "name": "x-glofox-branch-id",
              "value": "REPLACE_FROM_STUDIO_SHEET"
            }
          ]
        },
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000003",
      "name": "Glofox: Get Bookings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -384,
        304
      ],
      "notes": "Counts attended classes that are NOT cancelled: ?attended=true&status=BOOKED → read total_count. status=BOOKED excludes cancelled-but-attended bookings (a class cancelled after being marked attended). One call, pagination-proof."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/upsert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer REPLACE_WITH_GHL_PIT"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"locationId\": \"JHgfCMprry4fxGOzRsYl\",\n  \"email\": \"{{ $('Get Member').item.json.email }}\",\n  \"customFields\": [\n    {\n      \"key\": \"glofox_class_attendance\",\n      \"field_value\": {{ $('Glofox: Get Bookings').item.json.total_count }}\n    }\n  ]\n}",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000004",
      "name": "GHL: Update Total Attended Count",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -144,
        304
      ],
      "notes": "Writes attended total_count to the GHL 'Glofox Class Attendance' custom field via key 'glofox_class_attendance' (canonical id dhYri6EPBlHXpsR2ctT3). locationId JHgfCMprry4fxGOzRsYl = test sub-account (move to sheet for multi-studio). VERIFIED green: Steven's contact set to 2."
    },
    {
      "parameters": {
        "url": "=https://gf-api.aws.glofox.com/prod/2.0/members/{{ $('Glofox Webhook').item.json.body.payload.user_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "REPLACE_FROM_STUDIO_SHEET"
            },
            {
              "name": "x-glofox-api-token",
              "value": "REPLACE_FROM_STUDIO_SHEET"
            },
            {
              "name": "x-glofox-branch-id",
              "value": "REPLACE_FROM_STUDIO_SHEET"
            }
          ]
        },
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000005",
      "name": "Get Member",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -624,
        304
      ],
      "notes": "Looks up the member by user_id to get email (not present in webhook or bookings response). Email is how GHL matches the contact."
    }
  ],
  "connections": {
    "Glofox Webhook": {
      "main": [
        [
          {
            "node": "Only Attended Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Glofox: Get Bookings": {
      "main": [
        [
          {
            "node": "GHL: Update Total Attended Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only Attended Events": {
      "main": [
        [
          {
            "node": "Get Member",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Member": {
      "main": [
        [
          {
            "node": "Glofox: Get Bookings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "errorWorkflow": "AKbzN48d9DQwMioQ"
  },
  "active": false
}