glofox-new-purchase/workflows/glofox-new-purchase.json
{
  "name": "Glofox New Purchase → GHL Contact",
  "nodes": [
    {
      "id": "p1",
      "name": "Glofox Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1008,
        304
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "glofox-new-purchase",
        "options": {}
      },
      "notes": "Receives Glofox membership/purchase events. Go-live needs Glofox to register this URL.",
      "webhookId": "d1b8536e-62b9-4836-ac2f-5829c077b41c"
    },
    {
      "id": "p2",
      "name": "Only New Purchases",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -784,
        304
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.body.Type }}",
              "rightValue": "MEMBERSHIP_CREATED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "notes": "Only MEMBERSHIP_CREATED (a new purchase = a paid trial). Created-only for now. Every Social Fitness purchase is a paid trial, so no trial/paid split needed."
    },
    {
      "id": "p4",
      "name": "Get Member Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -272,
        304
      ],
      "parameters": {
        "url": "=https://gf-api.aws.glofox.com/prod/2.0/members/{{ $('Glofox Webhook').item.json.body.Payload.user_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $('Lookup Studio (cache)').item.json.api_key }}"
            },
            {
              "name": "x-glofox-api-token",
              "value": "={{ $('Lookup Studio (cache)').item.json.api_token }}"
            },
            {
              "name": "x-glofox-branch-id",
              "value": "={{ $('Lookup Studio (cache)').item.json.branch_id }}"
            }
          ]
        },
        "options": {}
      },
      "notes": "Member details (email, name, phone) to create/update the GHL contact."
    },
    {
      "id": "p5",
      "name": "GHL: Upsert Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -48,
        288
      ],
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/upsert",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"locationId\": \"JHgfCMprry4fxGOzRsYl\",\n  \"email\": \"{{ $('Get Member Email').item.json.email }}\",\n  \"firstName\": \"{{ $('Get Member Email').item.json.first_name }}\",\n  \"lastName\": \"{{ $('Get Member Email').item.json.last_name }}\",\n  \"phone\": \"{{ $('Get Member Email').item.json.metadata && $('Get Member Email').item.json.metadata.twilio ? $('Get Member Email').item.json.metadata.twilio.phone_number : $('Get Member Email').item.json.phone }}\",\n  \"tags\": [\"trial-purchase\"],\n  \"customFields\": [\n    {\n      \"key\": \"latest_offer_registered_for\",\n      \"field_value\": \"{{ $('Glofox Webhook').item.json.body.Payload.membership_definition.plan_name }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "notes": "Creates/updates the GHL contact: tag 'trial-purchase' + custom field 'latest_offer_registered_for' (= the plan they bought, from membership_definition.plan_name). Hardcoded test location JHgfCMprry4fxGOzRsYl (move to sheet for multi-studio). Consent defaults to yes (no dndSettings). Tag is a placeholder to finalise with stakeholders.",
      "credentials": {
        "httpHeaderAuth": {
          "id": "MrMlsn2HCSVdVi0O",
          "name": "HighLevel PIT - Test Sub Account"
        }
      }
    },
    {
      "id": "np-guard-if",
      "name": "Studio In Sheet?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -448,
        304
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "studio-found",
              "leftValue": "={{ $('Lookup Studio (cache)').item.json.branch_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "user-present",
              "leftValue": "={{ $('Glofox Webhook').item.json.body.Payload.user_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "notes": "Guard: continue only if branch found in sheet AND user_id present. Else -> Stop and Error (loud alert)."
    },
    {
      "id": "bff81c6f-99e3-4b04-b800-d277213a0a2f",
      "name": "Save Branch ID (filter)",
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        -896,
        304
      ],
      "parameters": {
        "operation": "save",
        "dataToSave": {
          "values": [
            {
              "key": "location_id",
              "value": "={{ $json.body.Metadata.location_id }}"
            }
          ]
        }
      }
    },
    {
      "id": "962709ab-93b2-4bfe-a51a-15ef4157d948",
      "name": "Lookup Studio (cache)",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -608,
        304
      ],
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "Ba4cRH8IzwZG9WqJ",
          "cachedResultName": "studio_config"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "branch_id",
              "condition": "eq",
              "keyValue": "={{ $('Glofox Webhook').item.json.body.Metadata.location_id }}"
            }
          ]
        },
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "notes": "Cache lookup: studio row from studio_config Data Table by branch_id (=location_id). Replaces per-event Google Sheets read (#19). No match -> halts silently."
    }
  ],
  "connections": {
    "Glofox Webhook": {
      "main": [
        [
          {
            "node": "Save Branch ID (filter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only New Purchases": {
      "main": [
        [
          {
            "node": "Lookup Studio (cache)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Member Email": {
      "main": [
        [
          {
            "node": "GHL: Upsert Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Studio In Sheet?": {
      "main": [
        [
          {
            "node": "Get Member Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Branch ID (filter)": {
      "main": [
        [
          {
            "node": "Only New Purchases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Studio (cache)": {
      "main": [
        [
          {
            "node": "Studio In Sheet?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "AKbzN48d9DQwMioQ"
  },
  "active": false
}
