glofox-purchase-nudge/workflows/ai-testing-tool-test-sub-account.json
{
  "name": "Glofox Purchase Nudge Test",
  "nodes": [
    {
      "id": "node-webhook",
      "name": "Glofox Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1500, 200],
      "webhookId": "glofox-purchase-nudge-test",
      "alwaysOutputData": true,
      "parameters": {
        "httpMethod": "POST",
        "path": "glofox-purchase-nudge-test",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "node-filter-type",
      "name": "Is MEMBERSHIP_CREATED?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-1300, 200],
      "parameters": {
        "conditions": {
          "options": { "version": 3, "leftValue": "", "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "type-check",
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "MEMBERSHIP_CREATED",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node-sheets",
      "name": "Lookup Studio Config",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-1100, 200],
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "10JeveuIeXNGsGyDQD5dvFLKzOoOzIN8ffRwszGuu2XA",
          "mode": "id",
          "cachedResultName": "Glofox to GHL - Studio Config"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Branch ID",
              "lookupValue": "={{ $('Glofox Webhook').item.json.body.metadata.location_id }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-member",
      "name": "Get Member Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-900, 200],
      "parameters": {
        "url": "=https://gf-api.aws.glofox.com/prod/2.0/members/{{ $('Glofox Webhook').item.json.body.payload.user_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-api-key", "value": "={{ $('Lookup Studio Config').item.json['API Key'] }}" },
            { "name": "x-glofox-api-token", "value": "={{ $('Lookup Studio Config').item.json['API Token'] }}" },
            { "name": "x-glofox-branch-id", "value": "={{ $('Lookup Studio Config').item.json['Branch ID'] }}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-wait",
      "name": "Wait 10 Minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-700, 200],
      "parameters": { "amount": 10, "unit": "minutes" }
    },
    {
      "id": "node-bookings",
      "name": "Get Booking Count",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-500, 200],
      "parameters": {
        "url": "=https://gf-api.aws.glofox.com/prod/2.0/bookings?user_id={{ $('Glofox Webhook').item.json.body.payload.user_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-api-key", "value": "={{ $('Lookup Studio Config').item.json['API Key'] }}" },
            { "name": "x-glofox-api-token", "value": "={{ $('Lookup Studio Config').item.json['API Token'] }}" },
            { "name": "x-glofox-branch-id", "value": "={{ $('Lookup Studio Config').item.json['Branch ID'] }}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-has-booking",
      "name": "Has Any Active Booking?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-300, 200],
      "parameters": {
        "conditions": {
          "options": { "version": 3, "leftValue": "", "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "active-booking-check",
              "leftValue": "={{ ($('Get Booking Count').item.json.data || []).filter(b => b.status !== 'CANCELED').length > 0 }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node-ghl-booked-safety",
      "name": "GHL: Tag first-class-booked (safety net)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-50, 100],
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/upsert",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Version", "value": "2021-07-28" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"locationId\": \"JHgfCMprry4fxGOzRsYl\",\n  \"email\": \"{{ $('Get Member Email').item.json.email }}\",\n  \"firstName\": \"{{ $('Get Member Email').item.json.first_name }}\",\n  \"lastName\": \"{{ $('Get Member Email').item.json.last_name }}\",\n  \"phone\": \"{{ $('Get Member Email').item.json.metadata && $('Get Member Email').item.json.metadata.twilio ? $('Get Member Email').item.json.metadata.twilio.phone_number : $('Get Member Email').item.json.phone }}\",\n  \"tags\": [\"first-class-booked\"]\n}",
        "options": {}
      }
    },
    {
      "id": "node-ghl-nudge",
      "name": "GHL: Tag purchase-no-booking-yet (nudge)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-50, 320],
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/upsert",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Version", "value": "2021-07-28" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"locationId\": \"JHgfCMprry4fxGOzRsYl\",\n  \"email\": \"{{ $('Get Member Email').item.json.email }}\",\n  \"firstName\": \"{{ $('Get Member Email').item.json.first_name }}\",\n  \"lastName\": \"{{ $('Get Member Email').item.json.last_name }}\",\n  \"phone\": \"{{ $('Get Member Email').item.json.metadata && $('Get Member Email').item.json.metadata.twilio ? $('Get Member Email').item.json.metadata.twilio.phone_number : $('Get Member Email').item.json.phone }}\",\n  \"tags\": [\"purchase-no-booking-yet\"]\n}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Glofox Webhook": {
      "main": [[{ "node": "Is MEMBERSHIP_CREATED?", "type": "main", "index": 0 }]]
    },
    "Is MEMBERSHIP_CREATED?": {
      "main": [
        [{ "node": "Lookup Studio Config", "type": "main", "index": 0 }],
        []
      ]
    },
    "Lookup Studio Config": {
      "main": [[{ "node": "Get Member Email", "type": "main", "index": 0 }]]
    },
    "Get Member Email": {
      "main": [[{ "node": "Wait 10 Minutes", "type": "main", "index": 0 }]]
    },
    "Wait 10 Minutes": {
      "main": [[{ "node": "Get Booking Count", "type": "main", "index": 0 }]]
    },
    "Get Booking Count": {
      "main": [[{ "node": "Has Any Active Booking?", "type": "main", "index": 0 }]]
    },
    "Has Any Active Booking?": {
      "main": [
        [{ "node": "GHL: Tag first-class-booked (safety net)", "type": "main", "index": 0 }],
        [{ "node": "GHL: Tag purchase-no-booking-yet (nudge)", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
