glofox-purchase-nudge/workflows/glofox-purchase-nudge.json
{
  "name": "Glofox Purchase Nudge Test",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "glofox-purchase-nudge-test",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Glofox Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1504,
        208
      ],
      "webhookId": "glofox-purchase-nudge-test",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "type-check",
              "leftValue": "={{ $json.body.Type }}",
              "rightValue": "MEMBERSHIP_CREATED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-filter-type",
      "name": "Is MEMBERSHIP_CREATED?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1296,
        208
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "10JeveuIeXNGsGyDQD5dvFLKzOoOzIN8ffRwszGuu2XA",
          "mode": "id",
          "cachedResultName": "Glofox to GHL - Studio Config"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Branch ID",
              "lookupValue": "={{ ($('Glofox Webhook').item.json.body.Metadata || {}).location_id || 'NO_BRANCH_ID' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-sheets",
      "name": "Lookup Studio Config",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1104,
        208
      ],
      "credentials": {
        "googleApi": {
          "id": "PvDoggN1HExofTc3",
          "name": "Google Service Account account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://gf-api.aws.glofox.com/prod/2.0/members/{{ $('Glofox Webhook').item.json.body.Payload.user_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $('Lookup Studio Config').item.json['API Key'] }}"
            },
            {
              "name": "x-glofox-api-token",
              "value": "={{ $('Lookup Studio Config').item.json['API Token'] }}"
            },
            {
              "name": "x-glofox-branch-id",
              "value": "={{ $('Lookup Studio Config').item.json['Branch ID'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-member",
      "name": "Get Member Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -896,
        208
      ]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "minutes"
      },
      "id": "node-wait",
      "name": "Wait 10 Minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -704,
        208
      ],
      "webhookId": "wait-10-minutes-purchase-nudge"
    },
    {
      "parameters": {
        "url": "=https://gf-api.aws.glofox.com/prod/2.0/bookings?user_id={{ $('Glofox Webhook').item.json.body.Payload.user_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $('Lookup Studio Config').item.json['API Key'] }}"
            },
            {
              "name": "x-glofox-api-token",
              "value": "={{ $('Lookup Studio Config').item.json['API Token'] }}"
            },
            {
              "name": "x-glofox-branch-id",
              "value": "={{ $('Lookup Studio Config').item.json['Branch ID'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-bookings",
      "name": "Get Booking Count",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -496,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "active-booking-check",
              "leftValue": "={{ ($('Get Booking Count').item.json.data || []).filter(b => b.status !== 'CANCELED').length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-has-booking",
      "name": "Has Any Active Booking?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -304,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/upsert",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"locationId\": \"JHgfCMprry4fxGOzRsYl\",\n  \"email\": \"{{ $('Get Member Email').item.json.email }}\",\n  \"firstName\": \"{{ $('Get Member Email').item.json.first_name }}\",\n  \"lastName\": \"{{ $('Get Member Email').item.json.last_name }}\",\n  \"phone\": \"{{ $('Get Member Email').item.json.metadata && $('Get Member Email').item.json.metadata.twilio ? $('Get Member Email').item.json.metadata.twilio.phone_number : $('Get Member Email').item.json.phone }}\",\n  \"tags\": [\"first-class-booked\"]\n}",
        "options": {}
      },
      "id": "node-ghl-booked-safety",
      "name": "GHL: Tag first-class-booked (safety net)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -48,
        112
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "MrMlsn2HCSVdVi0O",
          "name": "HighLevel PIT - Test Sub Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/upsert",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"locationId\": \"JHgfCMprry4fxGOzRsYl\",\n  \"email\": \"{{ $('Get Member Email').item.json.email }}\",\n  \"firstName\": \"{{ $('Get Member Email').item.json.first_name }}\",\n  \"lastName\": \"{{ $('Get Member Email').item.json.last_name }}\",\n  \"phone\": \"{{ $('Get Member Email').item.json.metadata && $('Get Member Email').item.json.metadata.twilio ? $('Get Member Email').item.json.metadata.twilio.phone_number : $('Get Member Email').item.json.phone }}\",\n  \"tags\": [\"purchase-no-booking-yet\"]\n}",
        "options": {}
      },
      "id": "node-ghl-nudge",
      "name": "GHL: Tag purchase-no-booking-yet (nudge)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -48,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "MrMlsn2HCSVdVi0O",
          "name": "HighLevel PIT - Test Sub Account"
        }
      }
    },
    {
      "id": "pn-guard-if",
      "name": "Studio In Sheet?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1000,
        208
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "studio-found",
              "leftValue": "={{ $('Lookup Studio Config').item.json['Branch ID'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "user-present",
              "leftValue": "={{ $('Glofox Webhook').item.json.body.Payload.user_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "notes": "Guard: continue only if branch found in sheet AND user_id present. Else -> Stop and Error (loud alert)."
    },
    {
      "id": "pn-guard-err",
      "name": "Unknown Studio / Bad Input",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -1000,
        400
      ],
      "parameters": {
        "errorType": "errorMessage",
        "errorMessage": "=Unknown studio or bad input — Branch ID '{{ $('Glofox Webhook').item.json.body.Metadata.location_id }}' not in the config sheet, or missing user_id '{{ $('Glofox Webhook').item.json.body.Payload.user_id }}'."
      }
    },
    {
      "id": "save-branch-filter",
      "name": "Save Branch ID (filter)",
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        -1384,
        208
      ],
      "parameters": {
        "operation": "save",
        "dataToSave": {
          "values": [
            {
              "key": "location_id",
              "value": "={{ $json.body.Metadata.location_id }}"
            }
          ]
        }
      },
      "notes": "Saves the studio Branch ID as highlighted execution data so runs are filterable per-studio in the Executions list."
    }
  ],
  "connections": {
    "Glofox Webhook": {
      "main": [
        [
          {
            "node": "Save Branch ID (filter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is MEMBERSHIP_CREATED?": {
      "main": [
        [
          {
            "node": "Lookup Studio Config",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Member Email": {
      "main": [
        [
          {
            "node": "Wait 10 Minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10 Minutes": {
      "main": [
        [
          {
            "node": "Get Booking Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Booking Count": {
      "main": [
        [
          {
            "node": "Has Any Active Booking?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Any Active Booking?": {
      "main": [
        [
          {
            "node": "GHL: Tag first-class-booked (safety net)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GHL: Tag purchase-no-booking-yet (nudge)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Studio Config": {
      "main": [
        [
          {
            "node": "Studio In Sheet?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Studio In Sheet?": {
      "main": [
        [
          {
            "node": "Get Member Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown Studio / Bad Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Branch ID (filter)": {
      "main": [
        [
          {
            "node": "Is MEMBERSHIP_CREATED?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "binaryMode": "separate",
    "errorWorkflow": "AKbzN48d9DQwMioQ"
  },
  "active": false
}
