glofox-purchase-nudge/workflows/glofox-purchase-nudge.json
{
  "name": "Glofox Purchase Nudge Test",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "glofox-purchase-nudge-test",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Glofox Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1744,
        208
      ],
      "webhookId": "glofox-purchase-nudge-test",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "type-check",
              "leftValue": "={{ $json.body.Type }}",
              "rightValue": "MEMBERSHIP_CREATED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-filter-type",
      "name": "Is MEMBERSHIP_CREATED?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1536,
        208
      ]
    },
    {
      "parameters": {
        "url": "=https://gf-api.aws.glofox.com/prod/2.0/members/{{ $('Glofox Webhook').item.json.body.Payload.user_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $('Lookup Studio (cache)').item.json.api_key }}"
            },
            {
              "name": "x-glofox-api-token",
              "value": "={{ $('Lookup Studio (cache)').item.json.api_token }}"
            },
            {
              "name": "x-glofox-branch-id",
              "value": "={{ $('Lookup Studio (cache)').item.json.branch_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-member",
      "name": "Get Member Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -864,
        208
      ]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "minutes"
      },
      "id": "node-wait",
      "name": "Wait 10 Minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -672,
        208
      ],
      "webhookId": "wait-10-minutes-purchase-nudge"
    },
    {
      "parameters": {
        "url": "=https://gf-api.aws.glofox.com/prod/2.0/bookings?user_id={{ $('Glofox Webhook').item.json.body.Payload.user_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $('Lookup Studio (cache)').item.json.api_key }}"
            },
            {
              "name": "x-glofox-api-token",
              "value": "={{ $('Lookup Studio (cache)').item.json.api_token }}"
            },
            {
              "name": "x-glofox-branch-id",
              "value": "={{ $('Lookup Studio (cache)').item.json.branch_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-bookings",
      "name": "Get Booking Count",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -496,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "active-booking-check",
              "leftValue": "={{ ($('Get Booking Count').item.json.data || []).filter(b => b.status !== 'CANCELED').length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-has-booking",
      "name": "Has Any Active Booking?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -304,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/upsert",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"locationId\": \"JHgfCMprry4fxGOzRsYl\",\n  \"email\": \"{{ $('Get Member Email').item.json.email }}\",\n  \"firstName\": \"{{ $('Get Member Email').item.json.first_name }}\",\n  \"lastName\": \"{{ $('Get Member Email').item.json.last_name }}\",\n  \"phone\": \"{{ $('Get Member Email').item.json.metadata && $('Get Member Email').item.json.metadata.twilio ? $('Get Member Email').item.json.metadata.twilio.phone_number : $('Get Member Email').item.json.phone }}\",\n  \"tags\": [\"first-class-booked\"]\n}",
        "options": {}
      },
      "id": "node-ghl-booked-safety",
      "name": "GHL: Tag first-class-booked (safety net)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -48,
        112
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "MrMlsn2HCSVdVi0O",
          "name": "HighLevel PIT - Test Sub Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/upsert",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"locationId\": \"JHgfCMprry4fxGOzRsYl\",\n  \"email\": \"{{ $('Get Member Email').item.json.email }}\",\n  \"firstName\": \"{{ $('Get Member Email').item.json.first_name }}\",\n  \"lastName\": \"{{ $('Get Member Email').item.json.last_name }}\",\n  \"phone\": \"{{ $('Get Member Email').item.json.metadata && $('Get Member Email').item.json.metadata.twilio ? $('Get Member Email').item.json.metadata.twilio.phone_number : $('Get Member Email').item.json.phone }}\",\n  \"tags\": [\"purchase-no-booking-yet\"]\n}",
        "options": {}
      },
      "id": "node-ghl-nudge",
      "name": "GHL: Tag purchase-no-booking-yet (nudge)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -48,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "MrMlsn2HCSVdVi0O",
          "name": "HighLevel PIT - Test Sub Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "studio-found",
              "leftValue": "={{ $('Lookup Studio (cache)').item.json.branch_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "user-present",
              "leftValue": "={{ $('Glofox Webhook').item.json.body.Payload.user_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "pn-guard-if",
      "name": "Studio In Sheet?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1056,
        208
      ],
      "notes": "Guard: continue only if branch found in sheet AND user_id present. Else -> Stop and Error (loud alert)."
    },
    {
      "parameters": {
        "operation": "save",
        "dataToSave": {
          "values": [
            {
              "key": "location_id",
              "value": "={{ $json.body.Metadata.location_id }}"
            }
          ]
        }
      },
      "id": "05e0ba4d-680e-457a-a17c-07d5dee38c31",
      "name": "Save Branch ID (filter)",
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        -1640,
        208
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "Ba4cRH8IzwZG9WqJ",
          "cachedResultName": "studio_config"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "branch_id",
              "condition": "eq",
              "keyValue": "={{ $('Glofox Webhook').item.json.body.Metadata.location_id }}"
            }
          ]
        },
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "id": "57e89168-8438-442d-acfe-6df31c7664f7",
      "name": "Lookup Studio (cache)",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1312,
        176
      ],
      "notes": "Cache lookup: studio row from studio_config Data Table by branch_id (=location_id). Replaces per-event Google Sheets read (#19). No match -> halts silently."
    }
  ],
  "connections": {
    "Glofox Webhook": {
      "main": [
        [
          {
            "node": "Save Branch ID (filter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is MEMBERSHIP_CREATED?": {
      "main": [
        [
          {
            "node": "Lookup Studio (cache)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Member Email": {
      "main": [
        [
          {
            "node": "Wait 10 Minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10 Minutes": {
      "main": [
        [
          {
            "node": "Get Booking Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Booking Count": {
      "main": [
        [
          {
            "node": "Has Any Active Booking?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Any Active Booking?": {
      "main": [
        [
          {
            "node": "GHL: Tag first-class-booked (safety net)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GHL: Tag purchase-no-booking-yet (nudge)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Studio In Sheet?": {
      "main": [
        [
          {
            "node": "Get Member Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Branch ID (filter)": {
      "main": [
        [
          {
            "node": "Is MEMBERSHIP_CREATED?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Studio (cache)": {
      "main": [
        [
          {
            "node": "Studio In Sheet?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "binaryMode": "separate",
    "errorWorkflow": "AKbzN48d9DQwMioQ"
  },
  "active": false
}
