glofox-new-lead/workflows/glofox-new-lead.json
{
  "name": "Glofox New Lead → GHL Contact",
  "nodes": [
    {
      "id": "l1",
      "name": "Glofox Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1008,
        304
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "glofox-new-lead",
        "options": {}
      },
      "notes": "Receives Glofox lead events. PLACEHOLDER: no real LEAD_CREATED payload yet — see issue #17. Go-live needs Glofox to register this URL. Pin a dummy payload here to test.",
      "webhookId": "0a1b2c3d-4e5f-6071-8293-a4b5c6d7e8f9"
    },
    {
      "id": "l2",
      "name": "Only New Leads",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -784,
        304
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.body.Type }}",
              "rightValue": "LEAD_CREATED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "notes": "PLACEHOLDER event name 'LEAD_CREATED' — confirm the real Glofox lead event type from the captured payload (#17)."
    },
    {
      "id": "l-guard-if",
      "name": "Studio In Sheet?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -448,
        304
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "studio-found",
              "leftValue": "={{ $('Lookup Studio (cache)').item.json.branch_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "lead-present",
              "leftValue": "={{ $('Glofox Webhook').item.json.body.Payload.lead_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "notes": "Guard: continue only if branch found in sheet AND lead_id present. Else -> Stop and Error. PLACEHOLDER: 'lead_id' field path assumed (#17)."
    },
    {
      "id": "l4",
      "name": "Get Lead Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -240,
        224
      ],
      "parameters": {
        "url": "=https://gf-api.aws.glofox.com/prod/2.0/leads/{{ $('Glofox Webhook').item.json.body.Payload.lead_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $('Lookup Studio (cache)').item.json.api_key }}"
            },
            {
              "name": "x-glofox-api-token",
              "value": "={{ $('Lookup Studio (cache)').item.json.api_token }}"
            },
            {
              "name": "x-glofox-branch-id",
              "value": "={{ $('Lookup Studio (cache)').item.json.branch_id }}"
            }
          ]
        },
        "options": {}
      },
      "notes": "PLACEHOLDER endpoint '/leads/{id}' — confirm Glofox exposes a lead-detail endpoint and what it returns (email/name/phone, and whether the offer is here vs on the webhook). If the webhook already carries email/name/phone, this node may be unnecessary (#17)."
    },
    {
      "id": "l-offer-if",
      "name": "Has Offer?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -16,
        224
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "offer-present",
              "leftValue": "={{ $('Glofox Webhook').item.json.body.Payload.offer_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "notes": "Splits 'specific offer' leads from 'general enquiry' leads. PLACEHOLDER offer field path 'payload.offer_name' — confirm where (if anywhere) the offer lives in the real payload (#17)."
    },
    {
      "id": "l5a",
      "name": "GHL: Upsert Contact (Offer)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        80
      ],
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/upsert",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"locationId\": \"JHgfCMprry4fxGOzRsYl\",\n  \"email\": \"{{ $('Get Lead Details').item.json.email }}\",\n  \"firstName\": \"{{ $('Get Lead Details').item.json.first_name }}\",\n  \"lastName\": \"{{ $('Get Lead Details').item.json.last_name }}\",\n  \"phone\": \"{{ $('Get Lead Details').item.json.phone }}\",\n  \"tags\": [\"new-lead\", \"lead-with-offer\"],\n  \"customFields\": [\n    {\n      \"key\": \"latest_offer_registered_for\",\n      \"field_value\": \"{{ $('Glofox Webhook').item.json.body.Payload.offer_name }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "notes": "Offer branch: upsert + tags ['new-lead','lead-with-offer'] + write 'latest_offer_registered_for'. Upsert (not create) so a contact already in GHL from a FB lead ad / form is updated, not duplicated. Hardcoded test location + PIT (move to sheet, #13). Tag names placeholder.",
      "credentials": {
        "httpHeaderAuth": {
          "id": "MrMlsn2HCSVdVi0O",
          "name": "HighLevel PIT - Test Sub Account"
        }
      }
    },
    {
      "id": "l5b",
      "name": "GHL: Upsert Contact (General)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        320
      ],
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/upsert",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"locationId\": \"JHgfCMprry4fxGOzRsYl\",\n  \"email\": \"{{ $('Get Lead Details').item.json.email }}\",\n  \"firstName\": \"{{ $('Get Lead Details').item.json.first_name }}\",\n  \"lastName\": \"{{ $('Get Lead Details').item.json.last_name }}\",\n  \"phone\": \"{{ $('Get Lead Details').item.json.phone }}\",\n  \"tags\": [\"new-lead\", \"general-enquiry\"]\n}",
        "options": {}
      },
      "notes": "General-enquiry branch: upsert + tags ['new-lead','general-enquiry']. Deliberately NO customFields — so we don't blank out an offer already captured from another source (FB lead ad / form). Hardcoded test location + PIT (move to sheet, #13). Tag names placeholder.",
      "credentials": {
        "httpHeaderAuth": {
          "id": "MrMlsn2HCSVdVi0O",
          "name": "HighLevel PIT - Test Sub Account"
        }
      }
    },
    {
      "id": "292352dd-c19d-4fdf-8ff5-af815d872d7a",
      "name": "Save Branch ID (filter)",
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        -896,
        304
      ],
      "parameters": {
        "operation": "save",
        "dataToSave": {
          "values": [
            {
              "key": "location_id",
              "value": "={{ $json.body.Metadata.location_id }}"
            }
          ]
        }
      }
    },
    {
      "id": "10151056-e1c9-48be-90e8-a9da81f2a4ea",
      "name": "Lookup Studio (cache)",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -624,
        304
      ],
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "Ba4cRH8IzwZG9WqJ",
          "cachedResultName": "studio_config"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "branch_id",
              "condition": "eq",
              "keyValue": "={{ $('Glofox Webhook').item.json.body.Metadata.location_id }}"
            }
          ]
        },
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "notes": "Cache lookup: studio row from studio_config Data Table by branch_id (=location_id). Replaces per-event Google Sheets read (#19). No match -> halts silently."
    }
  ],
  "connections": {
    "Glofox Webhook": {
      "main": [
        [
          {
            "node": "Save Branch ID (filter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only New Leads": {
      "main": [
        [
          {
            "node": "Lookup Studio (cache)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Studio In Sheet?": {
      "main": [
        [
          {
            "node": "Get Lead Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lead Details": {
      "main": [
        [
          {
            "node": "Has Offer?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Offer?": {
      "main": [
        [
          {
            "node": "GHL: Upsert Contact (Offer)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GHL: Upsert Contact (General)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Branch ID (filter)": {
      "main": [
        [
          {
            "node": "Only New Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Studio (cache)": {
      "main": [
        [
          {
            "node": "Studio In Sheet?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "AKbzN48d9DQwMioQ"
  },
  "active": false
}
